@media (max-width:1800px) {
    .sale-item-box {
        gap: 30px;
    }

    .side_padding {
        padding: 55px;
    }

}

@media (max-width: 1600px) {

    .sale-item-container>figure>img {
        width: 450px;
        height: 100%;
    }

    .about h2,
    .sale-ltems-title h2,
    .menu-title h2 {
        font-size: 54px;
    }

    .sale-item-left {
        padding: 20px;
    }

    .menu-box figure img {
        width: 250px;
        height: 250px;
    }

    .menu-top figure img {}
}

@media (max-width: 1400px) {
    .sale-item-container {
        flex-wrap: wrap;
    }

    .about-img-box figure img {
        width: 260px;
        height: 380px;
    }

    .about-text {
        font-size: 24px;
    }

    .about-img-box2 figure img {
        width: 725px;
        height: 350px;
    }

    .sale-item-container>figure {
        display: none;
    }

    .sale-ltems-title h2 {
        text-align: center;
    }

    .vin-main-img figure img {
        width: 600px;
        height: 700px;
    }

    .about-img-box2 {
        padding: 0;
        width: 750px;
    }

    .vin2-box figure img {
        width: 240px;
        height: 360px;
    }
}

@media (max-width: 1365px) {
    .menu-below {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .menu-below1 {
        margin-bottom: 60px;
    }

    .vincent-left h2 {
        font-size: 60px;
    }


}

@media (max-width: 1320px) {

    .menu-below figure img {
        width: 220px;
        height: 250px;
    }

    .editor-box {
        width: 1000px;
    }

}

@media (max-width: 1265px) {

    .about-img-box2 figure img {
        width: 700px;
        height: 349px;
    }

}

@media (max-width: 1140px) {
    .editor-box {
        width: 100%;
        box-sizing: border-box;
    }
    .vincent-box {
        display: block;
    }
    .vin2-box figure{
        align-items: center;
    }

    .vincent-left {
        align-items: center;
    }
    
    .vin-main-img > figure > img{
        width: 300px;
        height: 400px;
        margin: 0 auto;
        display: block;
    }
    

}

@media (max-width: 960px) {
    .about-cotaniner {
        flex-direction: column;
        
    }

    .about-cotaniner {
        flex-direction: column-reverse;
    }

    .sale-item-box > div:nth-child(2),
    .sale-item-box > div:nth-child(3){
        display: none;
    }

    .sale-item-container>figure {
        display: block;
    }

    .sale-item-container>figure>img {
        width: 360px;
    }

    .sale-item-container {
        flex-wrap: nowrap;
    }

    .menu-box {
        gap: 60px;
    }

    .menu-top {
        justify-content: center;
        gap: 64px;
    }

    .menu-top > div:nth-child(3){
        display: none;
    }

    .menu-top > div > figure > img {
        width: 220px;
    }
}

@media (max-width:800px) {
    .sale-item-container {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-bottom: 55px;
    }
}

@media (max-width:760px) {
    .edi-imgbox {
        flex-wrap: wrap;
    }
    
    .sale-item-container>figure>img {
        width: 324px;
    }

}