@media (max-width:1800px) {
    .sale-item-box {
        gap: 30px;
    }

    .side_padding {
        padding: 55px;
    }

}

@media (max-width: 1600px) {

    .sale-item-container>figure>img {
        width: 450px;
        height: 100%;
    }

    .about h2,
    .sale-ltems-title h2,
    .menu-title h2 {
        font-size: 54px;
    }

    .sale-item-left {
        padding: 20px;
    }

    .menu-box figure img {
        width: 250px;
        height: 250px;
    }
}

@media (max-width: 1400px) {
    .sale-item-container {
        flex-wrap: wrap;
    }

    .about-img-box figure img {
        width: 260px;
        height: 380px;
    }

    .about-text {
        font-size: 24px;
    }

    .about-img-box2 figure img {
        width: 725px;
        height: 350px;
    }

    .sale-item-container>figure {
        display: none;
    }

    .sale-ltems-title h2 {
        text-align: center;
    }

    .vin-main-img figure img {
        width: 600px;
        height: 700px;
    }

    .about-img-box2 {
        padding: 0;
        width: 750px;
    }

    .vin2-box figure img {
        width: 240px;
        height: 360px;
    }
}

@media (max-width: 1365px) {
    .menu-below {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding: 5px;
    }

    .menu-below1 {
        margin-bottom: 60px;
    }

    .vincent-left h2 {
        font-size: 60px;
    }


}

@media (max-width: 1320px) {

    .menu-below figure img {
        width: 220px;
        height: 250px;
    }

    .editor-box {
        width: 1000px;
    }

}

@media (max-width: 1265px) {

    .about-img-box2 figure img {
        width: 700px;
        height: 349px;
    }

}

@media (max-width: 1140px) {
    .editor-box {
        width: 100%;
        box-sizing: border-box;
    }

    .vincent-box {
        display: block;
    }

    .vin2-box figure {
        align-items: center;
    }

    .vincent-left {
        align-items: center;
    }

    .vin-main-img>figure>img {
        width: 300px;
        height: 400px;
        margin: 0 auto;
        display: block;
    }

    .menu-below2 {
        gap: 64px;
    }


}

@media (max-width: 960px) {
    .about-cotaniner {
        flex-direction: column;

        align-items: center;
    }

    .about-cotaniner {

        .sale-item-box>div:nth-child(2),
        .sale-item-box>div:nth-child(3) {
            display: none;
        }
    }

    .sale-item-container>figure {
        display: block;
    }

    .sale-item-container>figure>img {
        width: 360px;
    }

    .sale-item-container {
        flex-wrap: nowrap;
    }

    about-img-box .menu-box {
        gap: 60px;
    }

    .menu-top {
        justify-content: center;
        gap: 64px;
    }

    .menu-top figure img {
        width: 220px;
        height: 250px;
    }

    .menu-top>div:nth-child(3) {
        display: none;
    }

    .about-img-box {
        padding: 0%;
    }
}


@media (max-width:800px) {
    .sale-item-container {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-bottom: 55px;
    }

    .about-img-box2 figure img {
        width: 600px;
        height: 320px;
    }

    .about-img-box2 {
        width: 570px;
    }

}

  

@media (max-width:760px) {
    .edi-imgbox {
        flex-wrap: wrap;
        gap: 36px;
    }

    .sale-item-container>figure>img {
        width: 324px;
    }

    .footer-boxs {
        display: none;
    }

}

@media (max-width:650px) {

    .about-img-box figure img {
        width: 210px;
        height: 325px;
    }


    .about-img-box2 figure img {
        width: 480px;
        height: 300px;

    }

    .about-img-box2 {
        width: 475px;
    }

    .logo h1 {
        font-size: 120px;
    }

    .logo h2 {
        font-size: 72px;
    }

    .search-text {
        font-size: 18px;
    }

    .font-ko {
        padding: 0 50px;
        text-align: center;
        font-size: 14px;
    }
}

@media (max-width:550px) {
    .vin2-box figure img {
        width: 180px;
        height: 260px;
    }

    .vin-main-img>figure>img {
        width: 300px;
        height: 350px;
    }

    .menu-top figure img {
        width: 180px;
        height: 180px;
    }

    .menu-below1 figure img {
        width: 180px;
        height: 180px;
    }

    .menu-below2 figure img {
        width: 180px;
        height: 180px;
    }

    .vincent-left h2 {
        font-size: 47px;
    }

    .menu-title h2 {
        font-size: 47px;
    }

    .editorial-title h2 {
        font-size: 47px;
    }

    .about-text-left h3 {
        font-size: 36px;
    }

}

@media (max-width:500px) {
    .side_padding {
        padding: 16px;
    }

    .menu-title h2 {
        font-size: 35px;
    }

    .vincent-left h2 {
        font-size: 40px;
    }

    .editorial-title h2 {
        font-size: 40px;
    }

    .sale-ltems-title h2 {
        font-size: 47px;
    }

    .about-img-box figure img {
        width: 180px;
        height: 250px;
    }

    .about-img-box2 figure img {
        width: 420px;
        height: 240px;
    }

    .about-img-box2 {
        width: 410px;
    }

    .font-ko {
        font-size: 11px;
    }

    .sale-item-container>figure>img {
        width: 250px;
    }

    .logo h1 {
        font-size: 110px;
    }

    .logo h2 {
        font-size: 62px;
    }

    .header-menu-ul {
        font-size: 15px;
    }
}

@media (max-width:450px) {
    .about-img-box figure img {
        width: 140px;
        height: 200px;
    }

    .about-img-box2 figure img {
        width: 310px;
        height: 140px;
    }

    .about-img-box2 {
        width: 305px;
    }

    .menu-top figure img {
        width: 150px;
        height: 150px;

    }

    .menu-below1 figure img {
        width: 150px;
        height: 150px;
    }

    .menu-below2 figure img {
        width: 150px;
        height: 150px;
    }

    .vin2-box figure img {
        width: 150px;
        height: 200px;
    }

    .editor-box p {
        font-size: 15px;
    }

    .about-text-left h3 {
        font-size: 30px;
    }
}

@media (max-width:400px) {

    .menu-top figure img {
        width: 136px;
        height: 136px;

    }

    .menu-below1 figure img {
        width: 136px;
        height: 136px;
    }

    .menu-below2 figure img {
        width: 136px;
        height: 136px;
    }

    .sale-ltems-title h2 {
        font-size: 43px;
    }

    .vincent-left h2 {
        font-size: 35px;
    }

    .editorial-title h2 {
        font-size: 35px;
    }

    .about-text-left h3 {
        font-size: 28px;
    }

    .logo h1 {
        font-size: 90px;
    }

    .logo h2 {
        font-size: 50px;
    }
}