@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@font-face {
    font-family: 'Chosunilbo_myungjo';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



body {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: #E2DFD8;
}

.font-ko,
.bottomMenu ul li a,
.editor-box > p,
.vincent-text-box > p   {
    font-family: 'Chosunilbo_myungjo';
    line-height: 20px;
}


h3 {
    color: #322F2D;
    font-size: 40px;
}

h4 {
    font-size: 20px;
}

.side_padding {
    padding: 110px;
}

.mian-back {
    background-image: url(../img/main.png);
    height: 100vh;
}

.header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo {
    color: #fff;
    padding-left: 20px;
    margin-bottom: 50px;
}

.logo h1 {
    font-size: 160px;
}

.logo h2 {
    font-size: 100px;
}

.about h2,
.sale-ltems-title h2 {
    color: #322F2D;
    font-size: 77px;
}

.sale-ltems-title {
    width: 100%;
}

.sale-item-left {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
}

.sale-item-box {
    display: flex;
    padding: 30px;
    gap: 100px;
}


.sale-item-container {
    background-color: #D3C8B5;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.sale-ltems {
    background-color: #E2DFD8;
    padding: 24px;
}

.sale-ltems > h4 {
    margin-top: 8px;
}

.sale-ltems > p {
    margin-top: 4px;
}

.sale-ltems > p:last-child {
    color: #A02727;
}


.header-menu-ul {
    display: flex;
}

.header-menu-ul>li>a {
    color: #fff;
    text-decoration: none;
    padding: 16px;
}

.search-box {
    padding-left: 20px;
    position: relative;
}

.search {
    border: none;
    outline: none;
    padding: 24px;
    border: none;
    background: none;
    border-bottom: 2px solid #fff;
}

.search-text {
    color: #fff;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 20px;
    font-size: 24px;
    transform: translateY(-50%);
}

.about-img-box2>figure>img,
.about-img-box2 {
    width: 820px;
    /* 가로 크기 */
    height: 391px;
    /* 세로 크기 */
}

.about-img-box2 {
    display: flex;
    gap: 44px;
    padding: 56px 56px 0 0;
}

.about-img-box {
    display: flex;
    gap: 44px;
    object-fit: cover;
    /* 비율 유지하며 크롭 */
    padding-left: 55px;
}

.about-after {
    display: flex;
    flex-direction: column;
    align-items: center
}

.about-after::after {
    content: '';
    width: 360px;
    height: 6px;
    margin-top: 36px;
    background-image: linear-gradient(90deg, #fff 10%, #bdbdbd 90%);
    display: block;
}

.about-container {
    display: flex;
    align-items: flex-start;
    padding-top: 60px;
    /* 제목 위 여백 */
    gap: 60px;
}

.about-text-left > h3 {
    margin-bottom: 32px;
}

.about-text-left > p {
    font-size: 32px;
    line-height: 1.6;
}

.about-box {
    background-color: #F3F2EE;
    text-align: left;
    padding: 56px 24px;
    margin: 0 auto;
}

.about-text {
    
    flex: 1;
    text-align: right;
    font-size: 32px;
    line-height: 1.6;
    color: #322F2D;
}

.about-text > p {
    padding-top: 50px;
}

.about-text.left {
    text-align: left;
}

.about {
    padding-left: 55px;
    padding-top: 38px;
}

.the-product-section h2 {
    color: #322F2D;
    font-size: 77px;
    padding: 55px;
    padding-top: 38px;
}

.vincent-left h2 {
    color: #322F2D;
    font-size: 77px;
    padding: 55px;
    padding-top: 38px;
    text-align: center;
}

.vincent-left {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.vincent-box {
    background-color: #F3F2EE;
    text-align: left;
    padding: 50px 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}

.editorial-main {
    padding: 55px;
    box-sizing: border-box;
    position: relative;
}

.editor-box {
    background-color: #F3F2EE;
    padding: 70px 20px;
    width: 1200px;
    margin: 0 auto;
    
}

.editorial-title h2 {
    color: #322F2D;
    font-size: 50px;
    position: absolute;
    top: 50px;
    left: 20%;
    transform: translateY(-50%);
}

.edi-1 {
    /* padding: 56px 24px; */
    margin: 0 auto 60px auto;
}

.menu-box {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.menu-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.menu-top a,
.menu-below a {
    font-size: 20px;
    margin-top: 8px;
}

.menu-below1 {
    display: flex;
    gap: 64px;
}

.menu-below {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.menu-below2 {
    display: flex;
    align-items: flex-end;
    gap: 78px;
}

figure>a {
    display: block;
}

.vincent-text-box {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
}

.vincent-text-box {
    text-align: center;
}

.edi-imgbox {
    display: flex;
    align-items: center;
    gap: 64px;
    justify-content: center;
}

.bottomMenu {
    background-color: #ACA18C;
    padding: 70px 20px;
    display: flex;
    justify-content: space-evenly;
}

.sns-list {
    display: flex;
}

.footer-box > h4 {
    margin-bottom: 8px;
}
.footer-box4 > h4 {
    margin-bottom: 8px;
}